---
import Base from "../layouts/Base.astro";
const pageTitle = "About bentobox.today";
---

<Base>
  <main class="py-2 px-4 md:py-4 md:px-8 md:pb-8 prose dark:prose-invert">
    <h1>{pageTitle}</h1>
  <p>
    My kid is a selective eater with irrational hate for PB&J. If it were up to
    them, they would eat fried rice every day.
  </p>
  <p>
    This school year, I made an effort to make a lunch they would enjoy and not
    come back barely eaten and straight into the trash. Also, it fulfilled my
    unrealized deep desire to start collecting bento picks.
  </p>
  </main>
  
</Base>
