---
import Base from "../layouts/Base.astro";
import CldImage from "../components/CldImage.astro";
const posts = await Astro.glob("../pages/posts/*.md");
---

<Base>
  <main
    class="h-full overflow-y-auto overflow-x-hidden py-2 px-4 md:py-4 md:px-8"
  >
    <h1>Past Boxes</h1>
    <div class="gallery | grid gap-4 lg:gap-6 2xl:gap-8 auto-rows-max">
      {
        posts.reverse().map((post, i) => (
          <a
            href={post.url}
            class="bg-violet-600 border-violet-600 border-2 rounded-2xl overflow-hidden text-center drop-shadow-xl relative"
          >
            <CldImage
              src={
                post.frontmatter.image.slug
                  ? post.frontmatter.image.slug
                  : post.frontmatter.image.url
              }
              alt={post.frontmatter.image.alt}
              width="500"
              height="500"
              loading={i < 7 ? "eager" : "lazy"}
            />
            <h2 class="font-bold text-lg | absolute z-10 bottom-2 | rounded-full border border-violet-500 margin-auto bg-violet-900/75 px-4 py-1 translate-x-1/2 right-1/2 backdrop-blur-sm whitespace-nowrap">
              {post.frontmatter.title}
            </h2>
          </a>
        ))
      }
    </div>
  </main>
</Base>

<style>
  :root {
    --minSize: 256px;
  }
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(var(--minSize), 1fr));
  }
  @media (min-width: theme("screens.2xl")) {
    :root {
      /* --minSize: 300px; */
    }
  }
  main::-webkit-scrollbar-thumb {
    @apply bg-violet-500 rounded-full;
  }
  main::-webkit-scrollbar {
    width: theme("spacing.2");
    @apply bg-black/50;
  }
  h1 {
    font-family: "Itim", cursive;
    @apply text-3xl mb-4 text-violet-100;
  }
</style>
