---
import Base from "../layouts/Base.astro";
import { Picture } from "@astrojs/image/components";
const posts = await Astro.glob("../pages/posts/*.md");
---

<Base>
  <h1 class="text-lg font-bold mb-4">Past Boxes</h1>
  <div class="gallery | grid gap-4 auto-rows-max">
    {
      posts.reverse().map((post) => (
        <a
          href={post.url}
          class="border border-pink-700 bg-pink-900 rounded overflow-hidden text-center"
        >
          <Picture
            widths={[400, 800, 1200]}
            aspectRatio="1:1"
            src={post.frontmatter.image.url}
            alt={post.frontmatter.image.alt}
            sizes="xs:480px sm:500px md:380px lg:260px xl:320px"
          />
          <h2 class="font-bold my-2">{post.frontmatter.title}</h2>
        </a>
      ))
    }
  </div>
</Base>

<style>
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
</style>
