---
---

<header>
  <slot/>
  <a href="/"><h1>🍱 bentobox.today</h1></a>
</header>


<style>
  header {
    @apply flex items-center relative z-20  shadow-lg px-4 h-16 text-3xl bg-violet-900 text-white;
    /* @apply dark:shadow-xl; */
  }
  h1 {
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
  }
</style>
