---
const posts = await Astro.glob("../pages/posts/*.{md,mdx}");
---

<nav>
  <ul class="sm:top-4 flex flex-col-reverse gap-2">
    <li class="mt-2"><a href="/about">🎀 About</a></li>
    {
      posts.map((post) => (
        <li>
          <a href={post.url} class="text-sm sm:text-base">
            🎀 {post.frontmatter.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  nav {
    @apply bg-gray-900 p-2 sm:p-4 h-full overflow-auto border-r border-r-violet-800 transition-transform origin-left;
  }
  nav::-webkit-scrollbar {
    width: theme("spacing.2");
    @apply bg-black/50;
  }
  nav::-webkit-scrollbar-thumb {
    @apply bg-violet-500 rounded-full;
  }
</style>
