---
const posts = await Astro.glob("../pages/posts/*.{md,mdx}");
---

<nav>
  <ul class="sm:top-4 flex flex-col-reverse gap-2">
    <li class="mt-2"><a href="/about">🎀 About</a></li>
    {
      posts.map((post) => (
        <li>
          <a href={post.url} class="text-sm sm:text-lg">
            {post.frontmatter.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  nav {
    @apply bg-pink-500/25 p-2 sm:p-4 h-full overflow-auto border-r border-r-pink-800 transition-transform origin-left;
  }
  nav::-webkit-scrollbar {
    width: theme("spacing.2");
    @apply bg-orange-500/25;
  }
  nav::-webkit-scrollbar-thumb {
    @apply  bg-pink-500 rounded-full;
  }
   .hide-nav {
    @apply p-0 scale-x-0 !h-0 overflow-hidden;
  }
</style>
