---
import Header from "@components/Header.astro";
import Nav from "@components/Nav.astro";
// export interface Props {
//   title: string;
// }

// const { title } = Astro.props;

const posts = await Astro.glob("../pages/posts/*.md");
---

<!DOCTYPE html>
<html lang="en-us" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="https://fav.farm/ðŸ±" />
    <meta name="generator" content={Astro.generator} />
    <title>bentobox.today</title>
  </head>
  <body class="bg-gray-900 text-white h-full flex flex-col">
    <Header />
    <div class="grid grid-cols-[10.125rem_1fr] grow h-full overflow-hidden">
      <Nav />
      <main class="h-full overflow-auto py-4 px-8">
        <slot />
      </main>
    </div>
  </body>
</html>