---
import Header from "@components/Header.astro";
import Nav from "@components/Nav.astro";
// const posts = await Astro.glob("../pages/posts/*.md");
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="https://fav.farm/ðŸ±" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>bentobox.today</title>
    <script
      src="https://kit.fontawesome.com/f425d92e3b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <Header>
      <button id="menu" aria-label="Menu"
        ><i class="fa-solid fa-bars"></i></button
      >
    </Header>
    <div class="wrapper">
      <Nav />
      <slot />
    </div>
  </body>
</html>

<script>
  let menuOpen: any = sessionStorage.getItem("menuOpen");
  if (menuOpen === null) {
    sessionStorage.setItem("menuOpen", "1");
    menuOpen = "1";
  } else {
    menuOpen = sessionStorage.getItem("menuOpen");
  }
  const toggle = !!parseInt(menuOpen);
  const nav = document.querySelector("nav");
  nav?.classList.toggle("hide-nav", toggle);
  // document.querySelector(".wrapper")?.classList.toggle("!flex", toggle);
  document.getElementById("menu")?.addEventListener("click", function () {
    menuOpen = !!parseInt(menuOpen) ? "0" : "1";
    const toggle = !!parseInt(menuOpen);
    const nav = document.querySelector("nav");
    nav?.classList.toggle("hide-nav", toggle);
    document
      .querySelector(".wrapper")
      // ?.classList.toggle("!flex", toggle);
    sessionStorage.setItem("menuOpen", menuOpen);
  });
</script>

<style>
  html {
    @apply h-full bg-gray-900;
  }
  body {
    @apply h-full flex flex-col bg-orange-50 text-black/[.9];
    @apply dark:bg-cyan-900/25 dark:text-white/[.9];
    font-family: "Zilla Slab", serif;
    font-weight: 300;
  }
  #menu {
    aspect-ratio: 1/1;
    @apply rounded-full w-12 mr-4 hover:bg-gray-500/25;
  }
  .wrapper {
    @apply grid grid-cols-[7.5rem_1fr] md:grid-cols-[10.125rem_1fr] grow h-full overflow-hidden transition-all;
  }
</style>
