---
import Header from "@components/Header.astro";
import Nav from "@components/Nav.astro";

const posts = await Astro.glob("../pages/posts/*.md");
---

<!DOCTYPE html>
<html lang="en-us" class="h-full bg-gray-900">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="https://fav.farm/ðŸ±" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Itim&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>bentobox.today</title>
  </head>
  <body class="h-full flex flex-col | bg-violet-900/25 text-white">
    <Header />
    <div
      class="grid grid-cols-[7.5rem_1fr] md:grid-cols-[10.125rem_1fr] grow h-full overflow-hidden"
    >
      <Nav />
      <slot />
    </div>
  </body>
</html>
